h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #132868;
}

.gallery {
  background-color: #96b4e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
}

.gallery-item {
  list-style: none;
}

.gallery-image {
  width: 480px;
  height: 320px;
}
